<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <section class="menu">
      <!-- title -->
      <div class="title">
        <h2>our menu</h2>
        <div class="underline"></div>
      </div>
      <!-- filter buttons -->
      <div class="btn-container">
        <button type="button" class="filter-btn" data-id="all">all</button>
        <button type="button" class="filter-btn" data-id="breakfast">
          breakfast
        </button>
        <button type="button" class="filter-btn" data-id="lunch">lunch</button>
        <button type="button" class="filter-btn" data-id="shakes">
          shakes
        </button>
      </div>
      <!-- menu items -->
      <div class="section-center">
        <!-- single item -->
        <article class="menu-item">
          <img src="https://imgs.search.brave.com/hdF_m__Ms_gO2MO6CVcSrbwvJ_pwOPO6emQlqDIxjT4/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzEzLzQwLzkxLzcw/LzM2MF9GXzEzNDA5/MTcwNzRfRGZBT2to/dFRhdFo1Qjk3em94/QTRRRkh0OU91Q1lH/a00uanBn" class="photo" />
          <div class="item-info">
            <header>
              <h4>Pav Bhaji</h4>
              <h4 class="price">₹80</h4>
            </header>
            <p class="item-text">
              A spicy blend of mashed vegetables cooked in butter and special spices, served with soft butter-toasted pav.
              A Mumbai street food classic that's rich, flavorful, and irresistibly satisfying.
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="./menu-item.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>buttermilk pancakes</h4>
              <h4 class="price">$15</h4>
            </header>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </article>
        <!-- end of single item -->
        <!-- single item -->
        <article class="menu-item">
          <img src="./menu-item.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>buttermilk pancakes</h4>
              <h4 class="price">$15</h4>
            </header>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="./menu-item.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>buttermilk pancakes</h4>
              <h4 class="price">$15</h4>
            </header>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </article>

        <article class="menu-item">
          <img src="./menu-item.jpeg" alt="menu item" class="photo" />
          <div class="item-info">
            <header>
              <h4>buttermilk pancakes</h4>
              <h4 class="price">$15</h4>
            </header>
            <p class="item-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, sint quam. Et reprehenderit fugiat nesciunt inventore
              laboriosam excepturi! Quo, officia.
            </p>
          </div>
        </article>
        <!-- end of single item -->
      </div>
    </section>
    <!-- javascript -->
    <script src="home.js"></script>
  </body>
</html>
