/* Ensure body takes full height and centers content */


*{
    font-size:14px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 26.5px;
    color: #b03a58;
  }
button{
    font-size: 14px;
    border: 2px solid #000;        /* uniform black border */
    border-radius: 12px;           /* rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ABFAA9;
}

.signup-btn{
  border: 2px solid #000;        /* uniform black border */
  border-radius: 10px;           /* rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: skyblue;
}

body {
    background-color: #DFD5A5;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
}

.box {
    
  border: 1px solid #ccc; 
  padding: 20px;
  border-radius: 8px;
   /* optional */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFCBDD;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* optional */
  
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers everything horizontally */
} 

.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

